<div class="container">
  <div class="row">
    <div class="text-center mt-5">
      <h1>Gestion des joueurs</h1>
    </div>
    <div class="form-container mt-5 gestion">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Poste</th>
            <th scope="col">Voir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of players">
            <th scope="row">{{item.id}}</th>
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.poste}}</td>
            <td>
              <fa-icon [routerLink]="['/detail', item.id]" [icon]="faEye"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-start mt-5 mb-3 ms-3">
        <button [routerLink]="'/home'" class="btn btn-danger">RETOUR AU MENU</button>
      </div>
    </div>
  </div>
</div>
